{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}
{% block body %}
	<br><br><br><br><br>
	<div class="container">
		<div class="card">
			<div class="card-header">
				<img src="{{asset('images/voitureSC1.jpg')}}" alt=""/>
			</div>
			<div class="card-body">
				<span class="tag tag-teal">Sans chauffeur</span>
				<br>
				<h4>
					Formule "Forfait 4h"
				</h4>
				<p>
					Cette formule donne droit à 4h pour un forfait de 150 kilomètres.
				</p>
				<div>
					<input type="radio" id="huey" name="drone" value="huey" checked>
					<label for="huey">Je choisis la formule forfait 4h</label>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<img src="{{asset('images/voitureSC2.jpg')}}" alt=""/>
			</div>
			<div class="card-body">
				<span class="tag tag-teal">Sans Chauffeur</span>
				<br>
				<h4>
					Formule "Forfait 24h"
				</h4>
				<p>
					Cette formule donne droit à 24h pour un forfait de 300 kilomètres.

				</p>
				<div>
					<input type="radio" id="huey" name="drone" value="huey" checked>
					<label for="huey">Je choisis la formule forfait 24h</label>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<img src="{{asset('images/voitureSC3.webp')}}" alt=""/>
			</div>
			<div class="card-body">
				<span class="tag tag-teal">Sans Chauffeur</span>
				<br>
				<h4>
					Formule "Forfait 48h"
				</h4>
				<p>
					Cette formule donne droit à 48h pour un forfait de 700 kilomètres.
				</p>
				<div>
					<input type="radio" id="huey" name="drone" value="huey" checked>
					<label for="huey">Je choisis la formule forfait 48h</label>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<label for="vehicle" style="">Choississez votre vehicule</label>
				<select class="form-select" name="vehicle" id="vehicle">
					{% for lesModels in model %}
						<option value="{{lesModels.id}}">{{lesModels.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<label for="meeting-time">Choississez votre date et heure de location</label>

				<input type="datetime-local" id="meeting-time" name="meeting-time">
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<a class="btn btn" href="" style="background-color: #2ABA2D; color:white;">Valider la Reservation</a>
			</div>
		</div>

	{% endblock %}
